
@{
    ViewBag.Title = "Details";
}

<h2>Personal Details</h2>

<section>
    <table>
        <tbody>
            <tr>
                <td>Father's Name</td>
                <td>:</td>
                <td>Abdcs Dahsl</td>
            </tr>
            <tr>
                <td>Mother's Name</td>
                <td>:</td>
                <td>Haldis Hdeils</td>
            </tr>
            <tr>
                <td>Religion</td>
                <td>:</td>
                <td>Islam</td>
            </tr>
            <tr>
                <td>Date of Birth</td>
                <td>:</td>
                <td>01/01/2000</td>
            </tr>
        </tbody>
    </table>
</section>

