@{
    ViewBag.Title = "Home Page";
}

<main>
    <section>
        <table >
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>:</td>
                    <td>Rijoan Fardous</td>
                </tr>
                <tr>
                    <td>Student ID</td>
                    <td>:</td>
                    <td>20-41943-1</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>:</td>
                    <td>20-41943-1@student.aiub.edu</td>
                </tr>
            </tbody>
        </table>
    </section>
</main>