
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<div>
        <ul class="projects">
            <li><strong>Object Oriented Programming 1</strong>: Restaurant Management System</li>
            <li><strong>Object Oriented Programming 2</strong>: B2B Management System</li>
            <li><strong>Web Technologies</strong>: Restaurant Management System</li>
            <li><strong>Introduction to Database</strong>: Parcel Delivery Management System</li>
            <li><strong>Advance Database MS</strong>: Spouse Finding Management System</li>
        </ul>
</div>

