
@{
    ViewBag.Title = "References";
}

<h2>References</h2>
<div>
    <ol>
        <li>
            <p>
                Name: ABC DEF <br />
                Email: abc@gmail.com <br />
            </p>
        </li>
        <li>
            <p>
                Name: XYZ ZYX <br />
                Email: xyz@gmail.com <br />
            </p>
        </li>
        <li>
            <p>
                Name: DEF ABC <br />
                Email: def@gmail.com <br />
            </p>
        </li>

    </ol>
</div>
